<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Pinterest Layout
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-row>
    <ion-col size="4" *ngFor="let img of imageList">
      <img [src]="img.download_url" />
    </ion-col>
  </ion-row> -->

  <div class="collection ion-padding">
    <div class="collection-item" text-center *ngFor="let img of imageList">
      <ion-button>
        <ion-icon name="bookmark" slot="start"></ion-icon>
        Bookmark
      </ion-button>
      <ion-img [src]="img.download_url"></ion-img>
      {{ img.author }}
    </div>
  </div>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadImages($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading Images..."
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
